.paginateddiv{
    width: 100%;
    justify-content: center;
    display: flex;
}
.episodescontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.viewepisodessearchdiv{
    width:100%;
    display:flex;
    justify-content:center;
}