.location{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.viewlocationscontainer{
    width:100%;
    display:flex;
    justify-content:center;
}
.paginateddiv{
    width: 100%;
    justify-content: center;
    display: flex;
}